# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt

# Flask
instance/
.webassets-cache
flask_session/

# Environnement
.env
.env.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Archives
*.zip
*.tar.gz

# Fichiers temporaires
*.tmp
*.temp
